<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body class="container">

	<header>
		<%- include('../partials/header') -%>
	</header>

	<main>
		<ul>
			<% services.forEach( s => { %>
			<li><%=  s.name %></li>
			<% }); %>
		</ul>
	</main>

	This is unique state of current user: <%=  sessionVariable.name %>
	My Cart: 
	<ul>
		<% sessionVariable.cart.forEach( s => { %>
		<li><%=  s %></li>
		<% }); %>
	</ul>
</body>

</html>