<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body class="container">

	<header>
		<%- include('../partials/header') -%>
	</header>

	<main>
		<%if (!user) { %>
			<form class="form" action="login" method="POST" enctype="multipart/form-data">
				<input class="form__input" type="text" name="user" placeholder="Username"/>
				<input class="form__input" type="password" name="pass" placeholder="Password"/>
				<button class="form__button" type="submit">Login</button>
			</form>
		<% } else { %>
			Hi, <%=  user %>!
			<% }  %>

			<%if (error) { %>
				<h2 style="color:red;">Wrong username or pass.</h2>
			<% } %>
	</main>

</body>

</html>